@use './variables.scss' as *;

// Fonts
@mixin flex-end{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@mixin typography($font-family: 'Poppins', $font-size, $font-weight: normal, $line-height: 1.5, $letter-spacing: normal, $text-transform: none) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
}

@mixin font-heading-1 {
    @include typography(var(--font-poppins), 60px, 700, 150%, 0%);
}

@mixin font-heading-2 {
    @include typography(var(--font-poppins),  48px, 700, 150%, 0%);
}

@mixin font-heading-3 {
    @include typography('Poppins', 36px, 600, 150%, 0%);
}

@mixin font-heading-4 {
    @include typography('Poppins', 24px, 600, 150%, 0%);
}

@mixin font-heading-5 {
    @include typography('Poppins', 18px, 500, 150%, 0%);
}

@mixin font-heading-6 {
    @include typography('Poppins', 18px, 600, 150%, 0%);
}

@mixin font-subtitle-1 {
    @include typography('Poppins', 30px, 500, 150% 0%);
}

@mixin font-subtitle-2 {
    @include typography('Poppins', 24px, 500, 150%, 0%);
}

@mixin font-body-1 {
    @include typography('Poppins', 24px, 400, 150%, 0%);
}

@mixin font-body-2 {
    @include typography('Poppins', 16px, 400, 150%, 0%);
}

@mixin font-body-3 {
    @include typography('Poppins', 14px, 400, 150%, 0%);
}

@mixin font-button {
    @include typography('Poppins', 28px, 500, 150%, 0%);
}

// Responsive
@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @content;
  } @else if $breakpoint == sm {
    @media only screen and (min-width: $sm) { @content; }
  } @else if $breakpoint == md {
    @media only screen and (min-width: $md) { @content; }
  } @else if $breakpoint == lg {
    @media only screen and (min-width: $lg) { @content; }
  } @else if $breakpoint == xl {
    @media only screen and (min-width: $xl) { @content; }
  } @else {
    @error "Breakpoints possiveis: xs, sm, md, lg ou xl.";
  }
}