@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.card-transactions {
  @include flex-between;
  gap: 10px;
  box-sizing: border-box;
  width: 90%;

  &__left {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 25%;

    &__icon-area {
      border: 2px solid $blue-500;
      @include flex-center;
      color: $blue-500;
      border-radius: 100%;
      padding: 4px;
      width: 40px;
      height: 40px;
    }

    &__text-area {
      &__category {
        @include font-body-2;
      }

      &__info {
        @include font-body-3;
      }

      &__amount {
        @include font-body-2;
        color: $blue-500;
      }
    }
  }

  &__content {
    &__description {
      display: none
    }
  }

  &__bank-to {
    display: none
  }
}

@include respond(lg) {
  .card-transactions {
    @include flex-between;
    gap: 10px;
    box-sizing: border-box;
    width: 90%;

    &__left {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 20px;
      width: 25%;

      &__icon-area {
        border: 2px solid $blue-500;
        @include flex-center;
        color: $blue-500;
        border-radius: 100%;
        padding: 4px;
        width: 40px;
        height: 40px;
      }

      &__text-area {
        &__category {
          @include font-body-2;
        }

        &__info {
          @include font-body-3;
        }

        &__amount {
          @include font-body-2;
          color: $blue-500;
        }
      }
    }

    &__content {
      width: 25%;
      @include flex-center;
      flex-direction: column;
      text-align: center;

      &__description {
        display: block;
      }
    }

    &__bank-to {
      @include flex-center;
      width: 25%;
      text-align: center
    }
  }
}