@import "tailwindcss";

.container {
  display: flex; /* Define o container como um flex container */
}

.lado-esquerdo {
  flex: 1; /* Ocupa 1 fração do espaço disponível */
  width: 720;
  height: 1024;
}

.logoTitulo {
  display: flex;
  font-size: 48px;
  font-weight: bold;
  font-family: "Poppins";
  margin-top: 100px;
  justify-content: center;
}

.logoBemVindo {
  display: flex;
  font-size: 48px;
  font-weight: bold;
  font-family: "Poppins";
  margin-top: 100px;
  justify-content: center;
  padding-top: 10%;
}

.lado-direito {
  flex: 1; /* Ocupa 1 fração do espaço disponível */
  width: 720;
  height: 1024;
  background-color: #002952;
}

.titulo {
  font-size: 60px;
  font-weight: bold;
  font-family: "Poppins";
  color: white;
  text-align: center;
}

.subtitulo {
  font-size: 24px;
  font-weight: lighter;
  font-family: "Poppins";
  color: white;
  text-align: center;
}

.acesse {
  font-size: 36px;
  font-weight: bolder;
  font-family: "Poppins";
  margin-left: 260px;
}
.login {
  font-size: 24px;
  font-family: "Poppins";
  margin-left: 260px;
}

.dados {
  font-size: 18px;
  margin-left: 200px;
}

.dadostext {
  margin-left: 200px;
  padding-bottom: 10px;
  
 
  
}
.checkbox {
  font-size: 18px;
  margin-left: 200px;
}

.btn {
  width: 380px;
  height: 52px;
  background-color: #002952;
  color: white;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-left: 200px;
 
}