@use '../styles/variables.scss' as *;
@use '../styles/mixins.scss' as *;

.content {
  background-color: $blue-500;
  width: 100dvw;
  min-height: 100dvh;
  box-sizing: border-box;
  @include flex-end;

  &__nav {
    &__logo_area {
      @include flex-center;
      flex-direction: column;
      padding-bottom: 10%;

      &__brand {
        @include font-heading-2 ;
        color: $white;
      }
    }

    &__redirect_pages {
      display: none;
    }
  }

  &__desktop {
    display: none;
  }

  &__mobile {
    background-color: $white;
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    padding: 3.125rem 1.875rem;
    gap: 0.9375rem;

    &__title {
      @include font-heading-3 ;
      color: $black;
      text-align: center;
    }

    &__text {
      @include font-heading-5;
      color: $black;
      text-align: center;
    }
  }

  &__footer {
    display: none;
  }
}

@include respond(md) {
  .content {
    background-color: $white;
    
    &__nav {
      @include flex-between;
      padding: 1.875rem 3.125rem;

      &__logo_area {
        flex-direction: row;
        gap: 0.625rem;
        padding-bottom: 0%;
        justify-content: start;

        &__brand {
          @include font-heading-2;
          color: $blue-500;
        }
      }

      &__redirect_pages {
        display: flex;
        gap: 1.25rem;
      }
    }

    > main {
      flex-grow: 1;
    }
    &__desktop {
      display: block;

      &__container {
        padding: 1.875rem 3.125rem;
        display: flex;
        &__left {
          width: 70%;
          &__title {
            @include font-heading-2;
            color: $black;
          }
          &__text {
            @include font-body-1;
            color: $black;
          }
        }
        &__rigth {
          width: 30%;
          display: flex;
        }
      }
    }

    &__mobile {
      display: none;
    }

    &__footer {
      display: flex;
      padding: 1.875rem;

      color: $black;
      justify-content: center;
    }
  }
}

@include respond(lg) {
  .content {
    &__nav {
      padding: 1.875rem 10.625rem;

      &__button:hover{
        background-color: $purple-700;
      }
    }

   
    &__desktop {
      &__container {
        padding: 1.875rem 10.625rem;
      }
    }
  }
}
