@mixin typography(
  $font-size,
  $font-weight: 400,
  $line-height: 1.5,
  $letter-spacing: 0
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

$bp-tablet: 768px;
$bp-desktop: 1025px;

$blue-primary-500: #002952;

$gray-neutral-300: #e0e0e0;
$gray-neutral-800: #424242;

$green-normal: #164d00;
$red-normal: #e20303;

$white: #ffffff;
$black: #000000;

.transactions {
  box-sizing: border-box;
  background-color: $white;
  min-height: 100vh;
  width: 100vw;

  &__nav {
    display: none;
  }

  &__main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 80px 30px;
    background-color: $white;
    min-height: 100vh;
    width: 100vw;
    color: black;
    gap: 10px;

    &__container-info {
      background-color: $blue-primary-500;
      padding: 20px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      &__navigation {
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;

        &__select {
          font-size: 1.25rem;
          padding: 8px;

          &__options {
            font-size: 1rem;
            color: $black;
          }
        }
      }
      &__container {
        display: flex;
        width: 100%;
        justify-content: center;
        &__left {
          display: flex;
          gap: 20px;
          &__card-income {
            background-color: $gray-neutral-300;
            display: flex;
            padding: 10px 8px;
            border-radius: 8px;
            max-width: 160px;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            &__text-area {
              display: flex;
              flex-direction: column;

              &__title {
                @include typography(0.875rem, 400, 28px, 0%);
              }
              &__amount {
                @include typography(1.125rem, 600, 28px, 0%);
              }
            }

            &__icon-area {
              background-color: $green-normal;
              display: flex;
              justify-content: center;
              align-items: center;
              color: $white;
              border-radius: 100%;
              padding: 4px;
              width: 40px;
              height: 40px;
            }
          }

          &__card-expenses {
            background-color: $gray-neutral-300;
            display: flex;
            padding: 10px 8px;
            border-radius: 8px;
            max-width: 160px;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            &__text-area {
              display: flex;
              flex-direction: column;

              &__title {
                @include typography(0.875rem, 400, 28px, 0%);
              }
              &__amount {
                @include typography(1.125rem, 600, 28px, 0%);
              }
            }

            &__icon-area {
              background-color: $red-normal;
              display: flex;
              justify-content: center;
              align-items: center;
              color: $white;
              border-radius: 100%;
              padding: 4px;
              width: 40px;
              height: 40px;
            }
          }
        }

        &__right {
          display: none;
        }
      }
    }

    &__container-carousel {
      display: flex;
      gap: 10px;
      overflow-x: auto;
      padding-bottom: 8px;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }

      &__tag {
        flex: 0 0 auto;
        scroll-snap-align: start;
        border: 2px solid $blue-primary-500;
        padding: 4px 8px;
        border-radius: 32px;
        white-space: nowrap;

        &__text {
          @include typography(0.875rem, 400, 28px, 0%);
          color: $blue-primary-500;
        }
      }
    }
    &__container-transactions {
      display: flex;
      flex-direction: column;

      &__card-transactions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__left {
          display: flex;
          align-items: center;
          gap: 10px;
          &__icon-area {
            border: 2px solid $blue-primary-500;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $blue-primary-500;
            border-radius: 100%;
            padding: 4px;
            width: 40px;
            height: 40px;
          }

          &__text-area {
            &__category {
              @include typography(1rem, 600);
            }

            &__info {
              @include typography(0.875rem);
            }

            &__amount {
              @include typography(1rem, 600);
              color: $blue-primary-500;
            }
          }
        }
      }
    }
  }
}


@media (min-width: $bp-tablet) {
  .transactions {
    &__nav {
      padding: 30px 0px;
      display: flex;
      justify-content: end;

      &__logo_area {
        display: flex;
        flex-direction: row;
        gap: 10px;

        &__brand {
          @include typography(2.5rem, 700, 100%);
          color: $blue-primary-500;
        }
      }
    }

    &__main {
      padding: 0px 50px;
      gap: 20px;
      &__container-info {
        &__container {
          &__left {
            width: 50%;
          }

          &__right {
            display: flex;
            justify-content: space-around;
            gap: 15px;
            width: 50%;

            &__function {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 5px;
              &__icon-area {
                color: $gray-neutral-800;
                background-color: $gray-neutral-300;
                padding: 8px;
                border-radius: 100%;
              }
              &__text {
                @include typography(0.875rem);
                color: $white;
              }
            }
          }
        }
      }

      &__container-carousel {
        justify-content: center;
      }

      &__container-transactions {
        padding: 0px 70px;
      }
      .transactions__main__button--hidden {
        display: none;
      }
    }
  }
}

@media (min-width: $bp-desktop) {
  .transactions {
    &__nav {
      padding: 30px 100px;
      display: flex;
      justify-content: end;

      &__logo_area {
        display: flex;
        flex-direction: row;
        gap: 10px;

        &__brand {
          @include typography(2.5rem, 700, 100%);
          color: $blue-primary-500;
        }
      }
    }
    &__main {
      padding: 00px 170px;
      &__container-info {
        &__container {
          &__right {
            width: 30%;
          }
        }
      }
    }
  }
}
